@import "../../styles/sass/mixin";

.DashboardLayout {
  width: 100%;
  height: 100vh;

  &--NavBar {
    width: 100%;
    height: 10vh;
  }

  &--Header {
    width: 100%;
    height: 20vh;
    @include flex(none, none, none);

    &--Left {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 1rem;
    }

    &--Right {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 1rem;
    }
  }

  &--Body {
    width: 100%;
    height: 70vh;
    padding: 1rem;
  }
}
